<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">WebSiteName</a>
    </div>
    <!-- <ul class="nav navbar-nav">
      <li><a routerLink='/users'>Users</a></li>
      <li><a routerLink='/add-user'>Add user</a></li>
    
    </ul> -->
    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <span class="glyphicon glyphicon-user"></span> Sign Up<span class="caret"></span>
      
      </a>
      <ul class="dropdown-menu">
          <li><a routerLink="/registation/template">Registration(Template)</a></li>
          <li><a routerLink="/registation/reactive">Registration(Reactive)</a></li>
          
        </ul>
    </li>
      <!-- <li><a routerLink='/login'><span class="glyphicon glyphicon-log-in"></span> Login</a></li> -->
      <!-- <li style="cursor:pointer;"><a (click)="logOut()"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li> -->
    </ul>
  </div>
</nav>



<div class="wrapper">
  <form class="form-signin">
    <h2 class="form-signin-heading">Login Form</h2>
    <input type="email" [(ngModel)]="loginData.email" class="form-control" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
      placeholder="email" id="name" name="email" #email="ngModel" required>

    <p *ngIf="!loginData.email && email.touched || (!loginData.email && isValid)" class="error">Please fill this field</p>
    <div *ngIf=loginData.email [hidden]="email.untouched || email.valid " class="error">Please enter a valid email
    </div>
    <input type="password" [(ngModel)]="loginData.password" class="form-control" placeholder="Password" name="password"
      minlength="8" #password="ngModel" id="PassWord" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$" required>

      <p *ngIf="!loginData.password && password.touched || (!loginData.password && isValid)" class="error">Please
        fill this field</p>
      <div *ngIf=loginData.password [hidden]="password.untouched || password.valid " class="error">Password minimum eight characters, at least one uppercase letter, one lowercase letter, one number and one special character </div>
  

  <button class="btn btn-lg btn-primary btn-block" type="submit" (click)="onLogin()">Login</button>
   

  </form>
</div>