<div class="wrapper">
  <form class="form-signin">
    <h2 class="form-signin-heading">Login Form</h2>
    <input type="email" [(ngModel)]="loginData.email" class="form-control" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
      placeholder="email" id="name" name="email" #email="ngModel" required>

    <p *ngIf="!loginData.email && email.touched || (!loginData.email && isValid)" class="error">Please fill this field</p>
    <div *ngIf=loginData.email [hidden]="email.untouched || email.valid " class="error">Please enter a valid email
    </div>
    <input type="password" [(ngModel)]="loginData.password" class="form-control" placeholder="Password" name="password"
      minlength="8" #password="ngModel" id="PassWord" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$" required>

      <p *ngIf="!loginData.password && password.touched || (!loginData.password && isValid)" class="error">Please
        fill this field</p>
      <div *ngIf=loginData.password [hidden]="password.untouched || password.valid " class="error">Password minimum eight characters, at least one uppercase letter, one lowercase letter, one number and one special character </div>
  

  <button class="btn btn-lg btn-primary btn-block" type="submit" (click)="onLogin()">Login</button>
   

  </form>
</div>